.slide {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.slide img {
    width: 100%;
}


.left,
.right {
    position: absolute;
    padding: 15px;
    top: 50%;
}

.left {
    left: 0;
}
.right{
    right: 0;
}